<main>
    <div class="header">
        <div class="logo">
            <img src="assets/spotify-logo.png" alt="Logo" width="40" height="40">
            <h2 id="welcome-message"></h2>
        </div>
        <button class="logout-btn" color="primary" (click)="logout()">Logout</button>
    </div>
    <div class="content">
        <h2>Your Numbers</h2>
        <p>Visualize your listening activity!</p>
        <div class="chart-container">
            <div class="chart" id="top-artists">
                <h4>Top Artists</h4>
                <ol id="top-artists-list"></ol>
            </div>
            <div class="chart" id="top-tracks">
                <h4>Top Tracks</h4>
                <ol id="top-tracks-list"></ol>
            </div>
            <div class="chart" id="top-genres">
                <h4>Top Genres</h4>
                <ol id="top-genres-list"></ol>
            </div>
        </div>
    </div>
</main>