<main>
  <div class="logo">
    <img src="assets/spotify-logo.png" alt="Logo" width="50" height="50">
    <h1>Ready to see your Spotify wrapped?</h1> 
  </div>
  <button mat-raised-button color="primary" (click)="login()">Login with Spotify</button>
</main>
<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 2rem;

  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  button {
    background-color: #1ED760;
    border: none;
    padding: 15px;
    width: 170px;
    border-radius: 15px;
    font-weight: 600;
  }
</style>
